.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    width: auto;
    background-color: #332f21;
}

.title-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
}

.flag-icon{
    width: 28px;
}

.title {
    font-size: 24px;
    color: #fff;
}

.contact-developer {
    background-color: #efdbb2;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 0;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover{
        
    background-color: #fb890e;
    }
}